.container {
  margin: 0 auto;
  width: 1216px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.verticalTimeline {
  width: 100% !important;
  padding-top: 4em;
  padding-bottom: 8em;
  max-width: 1216px;
}
.verticalTimeline::before {
  width: 6px;
  background: #5b7cfe;
}

.point {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: start;
}

.title {
  color: #5b7cfe;
  font-family: Kanit;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.8px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 592px;
  padding-left:0;
  margin:0;
  list-style: initial;

}

.description {
  color: #1d1e2c;
  font-family: Kanit;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  list-style: inside;
 /*padding-left: 1em;*/
}

.description::before {
  content: '';
  margin-left: -10px;
}

.vertical-timeline-element-content {
  border-radius: 0 !important;
}

.containerTitle {
  color: #1D1E2C;
font-family: Kanit;
font-size: 39px;
font-style: normal;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.78px;
padding-bottom: 8px;
border-bottom: 4px solid #5B7CFE;
width: max-content;
}


.eclipse {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.eclipse svg {
  width:56px;
  height: 56px;
  margin-left: -26px;
}


