.wrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.darkBlock {
  background: #1d1e2c;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-bottom: 72px;
  padding-top: 72px;
  position: relative;
  overflow: hidden;
}

.whiteBlock {
  display: flex;
  flex-direction: column;
  gap: 64px;

}

.container {
  margin: 0 auto;
  width: 1216px;
  text-align: start;
}

.logo {
  position: absolute;
  right: -100px;
  bottom: 68px;
  transform: rotate(0.376deg);
  mix-blend-mode: overlay;
  filter: blur(2.5px);
 
}



.title {
  color: #fcfcfc;
  font-family: Kanit;
  font-size: 61px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.headLineDescription {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.headLineText {
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #fcfcfc;
  max-width: 800px;
}

.buttons {
  max-width: 488px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.topButtonContainer {
  display: flex;
  gap:16px;
}

.buttonBig {
  width: 100%;
}

.buttonSmall {
  width: 159px;
}
.button {
  width: 155px;
}
.buttonBig {
  width: 408px;
}