.wrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.darkBlock {
  background: #1d1e2c;
  display: flex;
  padding: 72px;
  position: relative;
}

.whiteBlock {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.headline {
  width: 1216px;
}

.headlineDesc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: start;
}

.headlineTitle {
  color: #fcfcfc;
  font-family: Kanit;
  font-size: 61px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  text-transform: uppercase;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subTitle {
  color: #fff;
  font-family: Kanit;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  opacity: 0.9;
}

.text {
  color: #d4d4d4;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  opacity: 0.9;
}

.headlineImage {
  position: absolute;
  right: 0;
  top: 72px;
}

.containerLists {
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 1216px;
}

.containerList {
  display: flex;
  justify-content: space-between;
}

.cardList {
  width: 488px;
  padding: 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(175, 175, 175, 0.25);
  box-sizing: border-box;
  height: max-content;
  text-align: start;
}

.cardListTitle {
  color: #5b7cfe;
  font-family: Kanit;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding-left: 20px;
}

.li {
  color: #1D1E2C;
font-family: Karla;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.1px;
}

.li:before{
  Margin-left:0}

  .smallLi {
    width: 251px;
  }