.wrap {
}

.container {
  max-width: 1216px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

@media (max-width: 1330px) {
  .container {
    max-width: 90vw;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 32px;
  }
}
